name: "Gradle dependencies submission"

on: [ push ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version-file: .java-version
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v4
      - name: Gradle Dependency Submission
        uses: gradle/actions/dependency-submission@v4
        with:
          build-scan-publish: true
          build-scan-terms-of-use-url: 'https://gradle.com/terms-of-service'
          build-scan-terms-of-use-agree: 'yes'
        env:
          GITHUB_DEPENDENCY_GRAPH_REF: ${{ github.ref }}
          DEPENDENCY_GRAPH_EXCLUDE_PROJECTS: ':buildSrc'
          DEPENDENCY_GRAPH_EXCLUDE_CONFIGURATIONS: '(.*[Tt]est(Compile|Runtime)Classpath)|(dokka.*)|(graphql.*)'